aiohttp
aiohttp-socks
anthropic
anyio
beautifulsoup4
bleach
brotli
certifi
cloudscraper
crawl4ai
duckduckgo-search
flask-babel==4.0.0
flask-cors>=4.0
flask==3.1.3
g4f
google-genai
gunicorn>=22.0
httpx-socks>=0.8.0
httpx>=0.27.0
isodate
Jinja2
lxml
mariadb
markdown-it-py
MarkupSafe
msgspec
mysql-connector-python
openai
packaging
platformdirs
psycopg2-binary
pygments
pymongo
PySocks
python-dateutil
python-dotenv
pyyaml
quickjs>=1.19.0
redis
requests
setproctitle
stem
tomli
typer<0.13
typing_extensions
uvloop
valkey
Werkzeug
whitenoise
yt-dlp>=2024.12.13
